---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Experience from '../components/Experience.astro';
import Projects from '../components/Projects.astro';
import Skills from '../components/Skills.astro';
import Education from '../components/Education.astro';
---

<Layout title="Subodh S. Kamble - DevOps Engineer & Professor">
	<Header />
	<main>
		<Hero />
		<Experience />
		<Projects />
		<Skills />
		<Education />
	</main>
</Layout>

<style>
	main {
		padding-top: 4rem;
	}
</style>
